<section class="content-section">
  <div>
    <h1>Welcome {{ msg }}</h1>
    <h2>What do you want to do?</h2>
  </div>
  <div class="options">

    <a href="/movies"><div class="option movies">
      <i class="ion-ios-film-outline"></i>
      <h2>Movies</h2>
    </div></a>

    <a href="#"><div class="option">
      <i class="ion-ios-monitor"></i>
      <h2>Series</h2>
    </div></a>

    <a href="#"><div class="option music">
      <i class="ion-music-note"></i>
      <h2>Music</h2>
    </div></a>
  </div>

</section>
