<section class="main-section">
  <div class="welcome-section">
    <h1>Welcome to the Endless Source of Online Fun</h1>
    <h2>Who's watching?</h2>
    <div class="users">
      <a href="/content"><div class="admin">
        <i class="ion-ios-person"></i>
        <h3>ADULT</h3>
      </div></a>
      <a href="/content"><div class="kids">
        <i class="ion-happy-outline"></i>
        <h3>KIDS</h3>
      </div></a>
    </div>
  </div>

</section>
