<section id="video">
  <a href="/movies" class="back-button">
    <i class="ion-arrow-left-a"></i>
  </a>
    <div id="wrapper">
       <div v-for="movie in movies">
          <figure class="video"><video controls type="video/mp4" :src="'/videos/'+movie.movies_trailer"></video></figure>
         <div class="light">
           <img :src="'/images/'+movie.movies_cover">
             <div class="movie-info">
               <h2>${movie.movies_title}<span>(${movie.movies_year})</span></h2>
               <h4><i class="ion-android-star"></i>${movie.movies_rating}</h4>
               <span>${movie.genre_name}</span>
               <p>${movie.movies_storyline}</p>
               <div class="social-media">
                 <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                 <div><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a></div>
                 <div><div class="g-plus" data-action="share" data-annotation="bubble"></div></div>
              </div>
               <!-- <social-sharing class="social-media" @open="open()" >
               </social-sharing> -->
             </div>
         </div>
       </div>
     </div>

  <div class="review-section">
    <article class="comments" v-if="reviews.length > 0">
      <div v-for="review in reviews">
          <review-stars :value="review.comments_rating" :disabled="true"></review-stars>
        <i class="post-date">${ review.comments_date }</i>
        <p>${ review.comments_copy }</p>
      </div>
    </article>

    <aside class="add-comment" :class="{ floatRight: reviews.length > 0 }">
      <h4 class="review-heading">Add a Review</h4>
      <span class="hidden movId">{{ movie }}</span>
      <review-stars v-model="numStars" :disabled="false"></review-stars>
      <label for="myRange">${numStars} - Stars Review</label>
      <input type="range" name="myRange" id="myRange" min="0" max="5" step="1" v-model="numStars" value="">

      <textarea name="review" id="review" placeholder="what did you think?" v-model="review"></textarea>
      <input type="submit" value="Submit your review" v-on:click="addReview">
    </aside>
  </div>
</section>
